services:
  db:
    image: postgres:16-alpine
    container_name: library-db
    environment:
      - POSTGRES_DB=library
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    container_name: library-api
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - db

volumes:
  postgres_data:
